
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border p-3 bg-white">
    <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
            <h2 class="text-info">Inquiry List</h2>
        </div>

    </div>

    <table id="tblInquiry" class="table table-striped table-bordered table-hover pt-2" style="width:100%">
        <thead class="table-secondary">
            <tr class="table-secondary">
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{ 
    <script src="~/js/inquiry.js"></script>
}
